
.play {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.centerToRight {
  animation: motion 1s ease forwards;
}

.leftToCenter {
  animation: motionTwo 1s ease;
}

@keyframes motion {
  0% {
    transform: translateX(0%)
  }
  100% {
    transform: translateX(150%);
  }
}

@keyframes motionTwo {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}