
.answer {
  padding: 10px;
  border-radius: 2px;
  font-size: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.color:hover {
  background-color: #eee;
}
