.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  margin-top: 20%;
  border: 1px solid gray;
}

.header {
  position: relative;
  margin: 0px;
  margin-bottom: 20px;
  font-size: 5em;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.seed {
  width: 60%;
}

.btn {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: blanchedalmond;
  margin-left: 20px;
}