
.questionDisplay {
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}


.questionText {
  text-align: center;
  margin: 2% 10%;
  color:white;
  font-size: 36px;
  font-weight: 600;
}

.category {
    margin: 2% 0;
    color: #eee;
}

.categoryText {
    color: #eee;
}

.answers {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 100px;
  justify-content: center;
  align-items: stretch;
  grid-gap: 10px;
}

@media only screen and (max-width: 900px) {
  .answers {
    grid-template-columns: 70%;
    grid-template-rows: 100px 100px 100px 100px;
  }
}

.correct {
  background-color: #3bdd3b !important;
}

.incorrect {
  background-color: #e23e3e !important;
}